@page "/markets"
@using ProjectStockLibrary

@inject HttpClient Http

<PageTitle>Market</PageTitle>

<h1>Lists of Markets</h1>



@if (markets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
             
            </tr>
        </thead>
        <tbody>
            
                <tr>     
                <td>"salut"</td>
                   
                </tr>
            
        </tbody>
    </table>
}

@code {
    private Market[]? markets;

  
}
