@page "/notifications"
@using ProjectStockLibrary

@inject HttpClient Http

<PageTitle>Notifications</PageTitle>

<h1>Lists of Notifications</h1>



@if (notifs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
               
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>"salut"</td>
                   
                </tr>
      
            
        </tbody>
    </table>
}

@code {
    private Notification[]? notifs;

  
}
