
<br>
  <div class="container">

    <div class="container">
      <div class="container">
        <div class="get-quote">
            <div class="row">
                <div class="col-sm-10 col-12">
                  <h3 class="text-left"> List of notifications informations</h3>  
                </div>
                <div class="col-sm-2 col-12">
                   <button class="btn btn-success text-center" [routerLink]="urlAjoutNotifs">Add</button>
                </div>
               
            </div>
        </div>
      </div>
  
    <br>
    </div>
  </div>
<table class="table table-striped"  id="example" >
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Text rappel</th>
      <th scope="col"> sent date</th>
      
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of _notifs  | paginate: { itemsPerPage: getCount().toString(), currentPage: getP().toString() }">
 
      <td *ngIf="user['id'] != null">{{user['id']}}</td>
      <td *ngIf="user['id'] == null">Null</td>
     
      
      <td *ngIf="user['_textRappel'] != null">{{user['_textRappel']}}</td>
      <td *ngIf="user['_textRappel'] == null">Null</td>
         
      <td *ngIf="user['_sendAt'] != null">{{user['_sendAt']}}</td>
      <td *ngIf="user['_sendAt'] == null">Null</td>

      <td><button class="btn btn-secondary" [routerLink]="['/delete_notifs/', user['id']]">Remove</button><button class="btn btn-primary" [routerLink]="['/modify_notifs/', user['id']]">Modify</button></td>
    </tr>
   
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <br>
</div>
<br>
<br>