<div class="container mt-5 border" >

    <form (ngSubmit)="onSubmit()" #formUse="ngForm">
      <h3 class="text-center">Modify notifs</h3>
      
      <div class="row">
        <div  class="col-6 mx-auto">
          <input class="form-control"
                 placeholder="textrappel"
                 type="textarea"
                 required
                 minlength="3"
                 pattern="[a-zA-Z'\-'\s]*"
                 [(ngModel)]="form.textrappel"
                 [name]="'textrappel'"
         
                 #firstNameInput="ngModel"
          >
        </div>
      
      
      <div class="row">
        <div class="col-6 mx-auto">
          <input class="form-control"
                 placeholder="date"
                 type="date"
                 required
            
                 [(ngModel)]="form.sendAt"
                 [name]="'sendAt'"

                 #lastNameInput="ngModel"
          >
        </div>
       

   
     
  
      
     
      
      <div class="text-center">
        <br>
        <button class="btn btn-primary" [disabled]="form.invalid">
          Send
        </button>
      </div>
      </div>
      </div>
    </form>
  </div>